<%- include('../partials/header.ejs') %> <%- include('../partials/navbar.ejs')
%>

<section class="h-lvh">
  <h2 class="text-2xl mb-4 px-12">Your Events</h2>
</section>

<%- include('../partials/footer.ejs') %>
